.DS_Store
build-ContextPropertyDemo-Desktop_Qt_5_14_0_clang_64bit-Debug
build-layouts_Example-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-practice_01-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-showingListOfData-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-ConnectionQMLDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-1-4QuickAppDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-2-1QMLSyntaxDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-2-2QMLDataTypesDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-ConnectionCppDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-DenemeProject-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-PositioningWithAnchors-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-QtDocumentationDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-SignalDemoApp-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-2-3PropertyBindingDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-2-4QtGlobalObjectDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-2-5PropertiesHandlersDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-3-1QMLBasicElementsDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-3-2CustomComponentDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/