build-ContextPropertyDemo-Desktop_Qt_5_14_0_clang_64bit-Debug
build-layouts_Example-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-practice_01-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-showingListOfData-Desktop_Qt_5_14_0_clang_64bit-Debug/
build-ConnectionQMLDemo-Desktop_Qt_5_14_0_clang_64bit-Debug/